<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>
</nav>

<h2>Dashboard</h2>
<div class="container-fluid">
  <mat-grid-list cols="4">
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <div style="width: 100%;height: 100%;">
        <div>
          <mat-card style="text-align: center;font-family:Times New Roman; background-color: rgba(228, 228, 222, 0.808);">
            <b>{{Designation}}</b></mat-card>
        </div>

          <div class="userImageDiv">
            <img class="userImage"  src="../../assets/user.png">
          </div>
          <div align=center style="padding-top: 10px;">
            {{Username}}
          </div>
      </div>

    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2"></mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2"></mat-grid-tile>

  </mat-grid-list>
</div>